[Unit]
Description=The Ollama container
After=local-fs.target

[Service]
Restart=always
TimeoutStartSec=60
# Ensure that the dir exists
ExecStartPre=-mkdir -p %h/.ollama

[Container]
ContainerName=ollama
AutoUpdate=registry
PublishPort=11434:11434
RemapUsers=keep-id
RunInit=yes
NoNewPrivileges=no

# Mount Ollama model location
Volume=%h/.ollama:/.ollama

PodmanArgs=--userns=keep-id
PodmanArgs=--group-add=keep-groups
PodmanArgs=--ulimit=host
PodmanArgs=--security-opt=label=disable
PodmanArgs=--cgroupns=host

Image=docker.io/ollama/ollama:IMAGE
AddDevice=DEVICE

[Install]
RequiredBy=multi-user.target
